/*
    FredMon Framework
    Written By: David Collins-Cubitt    
*/

/* Don't print headers and footers */
@media print {

    div.header, div.footer, img.logo {
        display: none !important;
    }

    div.content {
        margin-top: 0 !important;
    }
}

/* Start Page Layout */
body {
    color: #000000;
    background-color: #ffffff;
    font-family: arial, sans;
}

div.header {
    color: #ffffff;
    background-color: RGB(58,71,162);
    width: 100%;
    height: 80px;
    top: 0;
    left:0;
    position: fixed;
}

img.logo {
    height: 50px;
    top: 15;
    left: 10;
    position: fixed;
}

a.back {
    color: #ffffff;
    font-family: arial;
    font-weight: bold;
    font-size:10pt;
    text-decoration: none;
    position: fixed;
    top: 50px;
    right: 50px;
}

p.menu-header {
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    border-color: #dcdfe5;
    border-style: solid;
    background-color: #e8e8e8;
    color: #000000;
    font-size: 10pt;
}

img.icon {
    height: 50px;
    padding-bottom: 10px;
}

div.icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100px;
}

a.icon {
    padding: 0px;
    text-align: center;
    font-size: 11px;
    color: #315389;
    text-decoration: none;
}

div.content {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border:2px;
    padding: 20px;
    font-family: helvetica, arial, sans;
    text-align: left;
}

div.footer {
    color: #ffffff;
    background-color: RGB(58,71,162);
    font-size: 10pt;
    text-align: center;
    width: 100%;
    height: 20px;
    bottom: 0;
    left:0;
    position: fixed;
}

table, td, tr {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid;
}